body {
    color: black;
}

header {
    border-bottom: 2px solid black;
}
.hero {
    text-align: center;
}

.nav {
    text-align: center;
    margin: 20px;
}

.ressourcebox {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #F6931A;
}

.ressourcebox ul li {
    margin: 5px;
    color: white;
}

#contact {
    background-color: white;
    text-align: center;
    border: 2px solid #F6931A;
}

#contact ul {
    list-style: none;
}

footer {
    text-align: center;
}